body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid {
    padding: 3% 15% 10%;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/*Navigation Bar*/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: lighter;
    font-size: 1.2rem;
}

/*Buttons*/

.button-download {
    margin: 5% 3% 5% 0;
}

/*Title Image*/

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 26%;
}

/*Features Section*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.features-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*Testimonials Sektion*/

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/*Pricing Section*/

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}